
<div class="container">
    <div class="row col-md-12 col-lg-12 g-5 pt-4">
        <% records.forEach( (records, index) => { %>
            <div class="card" style="width: 20 rem">
                <img src="/public/img/<%= records.image %>" class="card-img-top" alt="<%= records.title %>">
                <div class="card-body">
                    <h1>
                        <a href="/records/<%= records.id %>">
                        <%= records.title %>
                        </a>
                    </h1>
                    <form action='/records/<%= records.id %>?_method=DELETE' method="POST">
                        <input class="btn btn-danger" type="submit" value= "✕ DELETE"/>
                    </form>
                    <form action='/records/<%= records.id %>/edit'>
                    <input class="btn btn-primary" type="submit" value="EDIT"/>
                    </form>
                </div>
            </div>
        <% }) %>
</div>
