<img src="/public/img/<%= records.image %>" alt="Image of <%= records.title %>">
You have chosen your <%= records.title %> record by
    <%= records.artist %>.  Genre: <%= records.genre %>.
    <% if (records.readyToListen) { %>
    <p> It looks like you are ready to listen to <%= records.title %>!</p>
    <% } else { %>
        <p>This record is not ready to be listened to.</p>
    <% } %>
